.pokemon-wrapper {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.pokemon-images {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
}

.pokemon-images img {
  margin-bottom: 0.5rem;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pokemon-title {
  margin-bottom: 0;
}

h3 {
  display: inline;
  margin-bottom: 0rem;
}

.placeholder-image {
  width: 6.25rem;
}

@media screen and (max-width: 768px) {
  .pokemon-wrapper {
    display: block;
    padding: 1rem;
  }
}
