.pagination-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination-container button:first-child {
  margin-left: 0;
}

.pagination-container button:last-child {
  margin-right: 0;
}


