.card{
    border: 1px solid gray;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 1rem;
}

li {
    color: white;
    width: fit-content;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.normal {
    background-color: #A8A878;
}

.water {
    background-color: #7286BA;
}

.fire {
    background-color: #ED8032;
}

.electric {
    background-color: #F8D030;
}

.grass {
   background-color: #7CA25F;
}

.ice {
    background-color: #95CBCA;
}

.fighting {
    background-color: #C03028;
}

.poison {
    background-color: #9C469B;
}

.ground {
    background-color: #BCA56B;
}

.flying {
    background-color: #9B88C8;
}

.psychic {
    background-color: #F45987;
}

.bug {
    background-color: #A3AF2B;
}

.rock {
    background-color: #AE9942;
}

.ghost {
    background-color: #75628C;
}

.dragon {
    background-color: #7447D8;
}

.dark {
    background-color: #735D4F;
}

.steel {
    background-color: #B2B2C6;
}

.fairy {
    background-color: #CFA4A5;
}
