.logo {
  width: 4rem;
}

h1 {
  font-size: 3rem;
}

header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header-link {
  text-decoration: inherit;
  color: inherit;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
}
