@font-face {
  font-family: 'Pokemon';
  src: url('assets/fonts/pokemon-gsc.ttf') format('truetype');
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Pokemon', 'Courier New', Courier, monospace;
  font-weight: 100;
}


