ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 1rem;
}

.card-pill {
  justify-content: center;
}

.pokemon-pill {
  justify-content: start;
}

li {
  color: black;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.normal {
  background-color: #a8a878;
}

.water {
  background-color: #7286ba;
}

.fire {
  background-color: #ed8032;
}

.electric {
  background-color: #f8d030;
}

.grass {
  background-color: #7ca25f;
}

.ice {
  background-color: #95cbca;
}

.fighting {
  background-color: #c03028;
}

.poison {
  background-color: #9c469b;
}

.ground {
  background-color: #bca56b;
}

.flying {
  background-color: #9b88c8;
}

.psychic {
  background-color: #f45987;
}

.bug {
  background-color: #a3af2b;
}

.rock {
  background-color: #ae9942;
}

.ghost {
  background-color: #75628c;
}

.dragon {
  background-color: #7447d8;
}

.dark {
  background-color: #735d4f;
}

.steel {
  background-color: #b2b2c6;
}

.fairy {
  background-color: #cfa4a5;
}
