.pokemon-wrapper {
    display: flex;
    border: 1px solid gray;
    gap: 1rem;

}

.pokemon-images {
    height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.pokemon-images img {
  margin-bottom: 0.5rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
}

h3, p {
    display: inline;
}

h3 {
    margin-bottom: 0rem;
}
